@use '../abstracts/variables' as var;

.card-customer {
  display: grid;
  row-gap: 3rem;

  background-color: var.$clr-prim;
  border-radius: 10px;
  padding: 3rem;

  &__header {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 3rem;
    align-items: center;
  }

  &__info {
    display: grid;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.4rem;
  }

  &__name {
    color: var.$clr-neutral-3;
  }

  &__status {
    color: var.$clr-prim-1;
  }

  &__review {
    color: var.$clr-neutral-3;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.3rem;
  }

  &__photo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    & > img {
      width: 100%;
      height: auto;
    }
  }
}
