@use '../abstracts/variables' as var;
@use '../abstracts/typography' as tp;

.review {
  $row-gap: 1.3rem;
  $fz-mobile: 1.2rem;
  $padding-topBottom: 1.5rem;
  $padding-leftRight: 1rem;
  $border-radius: 10px;

  display: grid;
  row-gap: $row-gap;

  text-align: center;
  font-size: $fz-mobile;
  font-weight: bold;
  color: var.$clr-prim;
  padding: $padding-topBottom $padding-leftRight;
  background-color: var.$clr-neutral-2;
  border-radius: $border-radius;

  &__rating {
    $space-between-stars: 1rem;

    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: $space-between-stars;
  }
}
