@use '../abstracts/typography' as tp;
@use '../abstracts/variables' as var;

.social-proof {
  max-width: var.$ly-mobile;
  padding: 5rem 1.5rem;

  display: grid;
  row-gap: 3rem;

  &__header {
    text-align: center;

    padding-inline: 2rem;
    display: grid;
    row-gap: 1rem;
  }

  &__title {
    font-weight: tp.$fw-bold;
    color: var.$clr-prim;
    font-size: tp.$fz-title;
    line-height: 1;
  }

  &__about {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  &__reviews {
    display: grid;
    row-gap: 2rem;
  }

  &__customers {
    display: grid;
    row-gap: 2rem;
  }

  @media (min-width: 62.5em) {
    max-width: 1000px;
  }
}
